body {
    text-align: center;
}

.calendar-subhead {
}

.calendar-field {
    border: 2px solid black;
    width: 100px;
    height: 20px;
    text-align: center;
    display: inline-block;
}

.nextweek, .previousweek {
    height: 30px;
    width: 30px;
}
